* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Overpass", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
}
.displayNone{
    display: none;
}

/* card / modalSuccess */
.card {
    margin: auto 1.5rem;
    padding: 30px 20px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
}
.modalSuccess{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 1.5rem;
    padding: 30px 20px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    display: none;
}
.divSelected{
    padding: 10px 20px;
    font-size: 15px;
    color: hsl(25, 89%, 59%);
    border-radius: 50px;
    background-color: hsl(211, 17%, 25%);
    margin-bottom: 2rem;
}

/* images */
.star {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: hsl(212, 18%, 21%);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

/* content */
.content h2{
    color: hsl(0, 100%, 100%);
    font-weight: 400;
    margin-bottom: 1rem;
}
.modalContent h2 {
    color: hsl(0, 100%, 100%);
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}
.content p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin-bottom: 1.5rem;
}
.modalSuccess p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin-bottom: 1.5rem;
    text-align: center;
}


/* buttons */
.buttonNumbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.buttonNumbers button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: none;
    background-color: hsl(212, 18%, 21%);
    color: hsl(217, 12%, 63%);
    font-weight: 700;
}

button.active {
    background-color: hsl(0, 100%, 100%);
    color: hsl(213, 19%, 18%);
}

.buttonSubmit {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(213, 19%, 18%);
    background-color: hsl(25, 97%, 53%);
}

/*footer*/
.attribution {
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    padding: 10px;
}

.attribution a {
    color: hsl(25, 97%, 53%);
    font-size: 13px;
}



@media screen and (min-width:800px) {



    .card,
    .modalSuccess {
        max-width: 500px;
    }

    .star{
        width: 55px;
        height: 55px;
    }

    .content h2 {
        font-size: 2rem;
    }

    .content p {
        font-size: 19px;
    }

    .buttonNumbers {
        margin-bottom: 2rem;
        
    }

    .buttonNumbers button {
        height: 60px;
        width: 60px;
        font-size: 17px;
    }
    .buttonSubmit{
        font-size:18px;
    }


    /*Buttons State*/
    .buttonNumbers button,
    .buttonSubmit {
        cursor: pointer;
    }

    .buttonNumbers button:hover {
        background-color: hsl(25, 97%, 53%);
        color: hsl(213, 19%, 18%);
    }

    .buttonSubmit:hover {
        background-color: hsl(0, 100%, 100%);
    }
}